* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Space Mono', monospace;
}

.container {
    display: grid;
    height: 100%;
    grid-template-rows: 60px auto 30px;
}

.navbar {
    background-color: #3498DB;
    color: #fff;
    font-size: 1.5em;
    line-height: 60px;
    text-align: center;
}

.content {
    color: #333;
    text-align: center;
}

.footer {
    color: #333;
    font-size: 0.8em;
    text-align: center;
}

.img-container {
    padding: 20px;
    margin: 20px;
}

.img-container img {
    border-radius: 50%;
    height: 200px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #333;
    display: inline-block;
    margin-bottom: 3px;
}